@font-face {
    font-family: Akzindenz;
    src: url(/fonts/AkzidenzGrotesk-Regular.otf);
}
* {
    font-family: Akzidenz, sans-serif;
}

body {

    font-family: "Helvetica Neue", Helvetica, Akzidenz, sans-serif;
}
#container div a {
    text-decoration-line: none;
    -moz-text-decoration-line: none;
}
#container div a:visited {
    -webkit-text-fill-color: black;
    -moz-text-decoration-color: black;
    fill: black;
}

#container div a:hover {
    -webkit-text-fill-color: red;
    -moz-text-decoration-color: red;
    fill: red;
}

.hidden {
    visibility: hidden;
    display: none;
}

.visible {
    visibility: visible;
    display: inherit;
}

